* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  list-style: none;
  text-decoration: none;
}

html,
body {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
}

span.slider-demo {
  font-family: Roboto, sans-serif;
  color: #FFFFFF;
  font-size: 14px;
  text-align: center;
  margin: 50px auto 0;
  display: inline-block;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 50px;
  background: #2363ab;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  &:hover {
    -webkit-transform: translateY(-3px);
    -moz-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    -o-transform: translateY(-3px);
    transform: translateY(-3px);
    box-shadow: 0 5px 5px rgba(35,99, 171, .4);
  }
}

.zoomContainer {
  z-index: 20;
  pointer-events: none;
  visibility: hidden;
  display: none;
  &.active {
    pointer-events: all !important;
    visibility: visible !important;
    display: block !important;
  }
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.slider-overlay {
  position: fixed;
  width: 100%;
  height: 100vh;
  padding: 0 15px;
  background: rgba(0,0,0,.7);
  box-sizing: border-box;
  left: 0;
  top: 0;
  z-index: 20;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  &.active {
    visibility: visible;
    opacity: 1;
    pointer-events: all;
  }
  @media screen and (max-width: 570px) {
    padding: 0;
  }
  @media screen and (max-height: 414px){
    display: none;
  }
}

.slider-wrapper {
  width: 100%;
  margin: auto;
  background: #FFFFFF;
  box-sizing: border-box;
  padding: 70px 70px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  @media screen and (min-width: 1280px) {
    max-width: 1100px;
    height: 780px;
  }
  @media screen and (max-width: 1279px) {
    max-width: 1000px;
  }
  @media screen and (max-width: 767px) {
    height: 100vh;
    padding: 50px 15px 40px;
    margin: 0;
  }
  .slider__container {
    position: relative;
    width: 100%;
    height: 100% !important;
    @media screen and (max-width: 767px) {
      margin-bottom: 15px;
    }
  }
  .slider-close {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 35px;
    right: 30px;
    cursor: pointer;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    transform-origin: 50% 50%;
    @media screen and (max-width: 767px) {
      top: 37px;
      right: 25px;
      -webkit-transform: scale(1.3);
      -moz-transform: scale(1.3);
      -ms-transform: scale(1.3);
      -o-transform: scale(1.3);
      transform: scale(1.3);
      &:hover {
        -webkit-transform: scale(1.5);
        -moz-transform: scale(1.5);
        -ms-transform: scale(1.5);
        -o-transform: scale(1.5);
        transform: scale(1.5);
      }
    }
    &:hover {
      -webkit-transform: scale(1.1);
      -moz-transform: scale(1.1);
      -ms-transform: scale(1.1);
      -o-transform: scale(1.1);
      transform: scale(1.1);
    }
    &:before,
    &:after {
      position: absolute;
      content: '';
      width: 100%;
      height: 2px;
      border-radius: 1px;
      background: rgb(50,50,50);
      left: 0;
      top: 0;
      transform-origin: 50% 50%;
    }
    &:before {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
    }
    &:after {
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }
  }
}

.slider-list {
  width: 100%;
  position: relative;
  height: 100%;
  .slider-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    margin-top: auto;
    height: 100%;
    background: #FFFFFF;
    .slider-item-img-wrapper {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      max-width: 100%;
      max-height: 630px;
      height: 100%;
      width: 100%;
      margin: auto;
      position: relative;
      overflow: hidden;
      .slider-item-img {
        width: auto;
        height: auto;
        max-width: 100%;
        max-height: 630px;
        margin: auto auto 0 auto;
        @media screen and (max-width: 767px) {
          margin: auto !important;
        }
      }
    }
    .slider-item-text {
      font-family: Roboto, sans-serif;
      width: 100%;
      line-height: 1.6;
      color: rgb(50,50,50);
      font-size: 14px;
      margin-top: 10px;
      margin-bottom: 0 !important;
    }
  }
}

.slider__footer {
  width: 100%;
  margin: auto 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  @media screen and (max-width: 767px) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    margin: 0;
  }
}

.slider-pagination {
  font-family: Roboto, sans-serif;
  cursor: default;
  color: rgb(50,50,50);
  @media screen and (min-width: 768px) {
    position: absolute;
    left: 0;
  }
  @media screen and (max-width: 767px) {
    font-size: 24px;
  }
  .swiper-pagination-current {
    color: #2363ab;
  }
}

.slider-gallery {
  height: 70px;
  width: 100%;
  max-width: 570px;
  @media screen and (max-width: 767px) {
    height: 35px;
  }
  .slider-gallery-list {
    height: 70px;
    @media screen and (max-width: 767px) {
      height: 35px;
    }
    .slider-gallery-item {
      opacity: 0.4;
      height: 70px;
      width: 70px;
      background-size: cover;
      position: relative;
      overflow: hidden;
      cursor: pointer;
      box-sizing: border-box;
      @media screen and (max-width: 767px) {
        height: 35px;
        width: 35px;
      }
      .slider-gallery-item-img {
        object-fit: cover;
        width: 110%;
        height: 110%;
        margin-left: -5%;
      }
      &.swiper-slide-active {
        opacity: 1;
        border: 2px solid #2363ab;
      }
    }
  }
  @media screen and (min-width: 768px) and (max-width: 991px) {
    max-width: 470px;
  }
  @media screen and (min-width: 768px) {
    margin: 0  10px !important;
  }
  @media screen and (max-width: 767px) {
    margin: 0;
  }
}

.slider-footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 auto;
  position: relative;
  @media screen and (max-width: 767px) {
    width: 100%;
    margin-bottom: 15px;
  }
}

div.slider-btn {
  width: 10px;
  height: 10px;
  &.prev {
    border-bottom: 2px solid #2363ab;
    border-left: 2px solid #2363ab;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    @media screen and (max-width: 767px) {
      -webkit-transform: rotate(45deg)scale(1.2);
      -moz-transform: rotate(45deg)scale(1.2);
      -ms-transform: rotate(45deg)scale(1.2);
      -o-transform: rotate(45deg)scale(1.2);
      transform: rotate(45deg)scale(1.2);
      left: calc(50% - 85px);
    }
  }
  &.next {
    border-top: 2px solid #2363ab;
    border-right: 2px solid #2363ab;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    @media screen and (max-width: 767px) {
      -webkit-transform: rotate(45deg)scale(1.2);
      -moz-transform: rotate(45deg)scale(1.2);
      -ms-transform: rotate(45deg)scale(1.2);
      -o-transform: rotate(45deg)scale(1.2);
      transform: rotate(45deg)scale(1.2);
      right: calc(50% - 85px);
    }
  }
  @media screen and (max-width: 767px) {
    position: absolute;
    top: 60px;
  }
}

.slider-main {
  position: relative;
  width: 100%;
  @media screen and (min-height: 992px) {
    height: calc(100% - 70px) !important;
  }
  @media screen and (height: 768px) {
    height: 550px !important;
  }
  @media screen and (min-height: 769px) and (max-height: 991px) {
    height: 600px !important;
  }
  @media screen and (max-height: 767px) {
    height: calc(100% - 70px) !important;
  }
}

span.slider-btn {
  position: absolute;
  width: 25%;
  height: 100%;
  top: 0;
  transform: none !important;
  border: 0 !important;
  &.prev {
    left: 0;
  }
  &.next {
    right: 0;
  }
  @media screen and (max-width: 767px) {
    display: none;
  }
}

p.slider-btn {
  position: absolute;
  width: 48px;
  height: 48px;
  top: calc(50% - 14px);
  z-index: 25;
  &.prev {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    left: 30px;
    &:before {
      position: absolute;
      content: '';
      width: 28px;
      height: 28px;
      top: 10px;
      left: 10px;
      border-bottom: 2px solid rgba(255,255,255,.8);
      border-left: 2px solid rgba(255,255,255,.8);
    }
  }
  &.next {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    right: 30px;
    &:before {
      position: absolute;
      content: '';
      width: 28px;
      height: 28px;
      top: 10px;
      left: 10px;
      border-top: 2px solid rgba(255,255,255,.8);
      border-right: 2px solid rgba(255,255,255,.8);
    }
  }
  @media screen and (max-width: 1023px) {
    display: none;
  }
}

.slider-gallery-wrapper {
  padding: 0 0 15px;
  width: 100%;
  @media screen and (max-width: 1023px) {
    width: 100%;
  }
}

.slider-gallery-prev-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
  z-index: 1;
  @media screen and (max-width: 767px) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .slider-gallery-prev-pagination {
    @media screen and (min-width: 768px) {
      display: none;
    }
    margin-top: 10px;
    .swiper-pagination-bullet {
      -webkit-transition: all .2s ease-in-out;
      -moz-transition: all .2s ease-in-out;
      -ms-transition: all .2s ease-in-out;
      -o-transition: all .2s ease-in-out;
      transition: all .2s ease-in-out;
      width: 18px;
      height: 18px;
      border-radius: 50%;
      border: 2px solid #2363ab;
      cursor: pointer;
      background: transparent !important;
      margin-right: 10px;
      opacity: 1 !important;
      position: relative;
      -webkit-transform: scale(.4);
      -moz-transform: scale(.4);
      -ms-transform: scale(.4);
      -o-transform: scale(.4);
      transform: scale(.4);
      &:before {
        -webkit-transition: all .2s ease-in-out;
        -moz-transition: all .2s ease-in-out;
        -ms-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
        position: absolute;
        content: '';
        width: 18px;
        height: 18px;
        background: #2363ab;
        border: 1px solid #2363ab;
        opacity: 0;
        left: -1px;
        top: -1px;
        border-radius: 50%;
        -webkit-transform: scale(.1);
        -moz-transform: scale(.1);
        -ms-transform: scale(.1);
        -o-transform: scale(.1);
        transform: scale(.1);
      }
      &:last-child {
        margin-right: 0;
      }
      &.swiper-pagination-bullet-active {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
        border: 1px solid #2363ab;
        &:before {
          -webkit-transform: scale(.4);
          -moz-transform: scale(.4);
          -ms-transform: scale(.4);
          -o-transform: scale(.4);
          transform: scale(.4);
          opacity: 1;
        }
      }
    }
  }
  .slider-gallery-prev-next {
    width: 10px;
    height: 10px;
    border-top: 2px solid #2363ab;
    border-right: 2px solid #2363ab;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    @media screen and (max-width: 767px) {
      display: none;
    }
  }
  .slider-gallery-prev-prev {
    width: 10px;
    height: 10px;
    border-bottom: 2px solid #2363ab;
    border-left: 2px solid #2363ab;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    @media screen and (max-width: 767px) {
      display: none;
    }
  }
  .slider-gallery-prev {
    width: calc(100% - 40px);
    .slider-gallery-item-prev {
      max-width: 120px;
      max-height: 120px;
      margin-right: 35px;
      cursor: pointer;
      position: relative;
      overflow: hidden;
      @media screen and (min-width: 1441px) {
        margin-right: 35px !important;
      }
      @media screen and (min-width: 1280px) and (max-width: 1440px){
        max-width: 110px;
        max-height: 110px;
        margin-right: 20px;
      }
      @media screen and (min-width: 1024px) and (max-width: 1279px){
        max-width: 100px;
        max-height: 100px;
      }
      @media screen and (min-width: 768px) and (max-width: 1023px){
        max-width: 250px;
        max-height: 250px;
        margin-right: 15px;
      }
      @media screen and (max-width: 767px){
        max-width: 767px;
        max-height: 767px;
        margin-right: 15px;
      }
      @media screen and (max-height: 1279px) {
        max-height: 150px;
        max-width: 150px;
      }
      @media screen and (min-height: 768px) and (max-height: 991px) and (min-width: 992px) and (max-width: 1279px){
        margin-right: 0 !important;
      }
      .slider-gallery-item-prev-wrapper {
        width: 120px;
        height: 120px;
        position: relative;
        overflow: hidden;
        @media screen and (min-width: 1280px) and (max-width: 1440px){
          width: 110px;
          height: 110px;
        }
        @media screen and (min-width: 1024px) and (max-width: 1279px){
          width: 100px;
          height: 100px;
        }
        @media screen and (max-height: 1279px) {
          height: 150px !important;
          width: 150px !important;
        }
        @media screen and (min-width: 768px) and (max-width: 1023px){
          width: 250px;
          height: 250px;
        }
        @media screen and (max-width: 768px){
          width: 100%;
          height: 100%;
        }
        .slider-gallery-item-prev-img {
          width: 100%;
          height: 100%;
        }
      }
    }

  }
}

.slider-zoom__container {
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  position: fixed !important;
  z-index: 21 !important;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000000;
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
  &.active {
    pointer-events: all;
    visibility: visible;
    opacity: 1;
  }
  &.active ~ .slider-zoom-close {
    pointer-events: all;
    visibility: visible;
    opacity: 1;
  }
  &.active ~ .slider-zoom-text {
    -webkit-animation: fadeText 3s ease-in-out;
    -o-animation: fadeText 3s ease-in-out;
    animation: fadeText 3s ease-in-out;
  }
  .slider-zoom-list {
    width: 100%;
    height: 100%;
    position: relative;
    .slider-zoom-item {
      width: 100%;
      height: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      .slider-zoom-img {
        width: auto;
        height: auto;
        max-height: 100%;
        max-width: 100%;
        margin: auto;
      }
    }
  }
}

.slider-zoom-close {
  position: fixed;
  z-index: 23;
  width: 30px;
  height: 30px;
  top: 30px;
  right: 30px;
  cursor: pointer;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
  &:hover {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
  }
  &:before,
  &:after {
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background: #FFFFFF;
  }
  &:before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  &:after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
}

.slider-zoom-text {
  font-family: Roboto, sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: #FFFFFF;
  text-shadow: 0 0 2px rgba(150, 150, 150, 1);
  position: fixed;
  padding: 0 20px;
  left: 0;
  top: 48%;
  z-index: 26;
  margin: auto;
  width: 100%;
  text-align: center;
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
  &:before {
    position: fixed;
    content: '';
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,.4);
  }
}

@-webkit-keyframes fadeText {
  from {
    opacity: 1;
    visibility: visible;
  }
  60% {
    opacity: 1;
    visibility: visible;
  }
  to {
    opacity: 0;
    visibility: visible;
  }
}

@keyframes fadeText {
  from {
    opacity: 1;
    visibility: visible;
  }
  60% {
    opacity: 1;
    visibility: visible;
  }
  to {
    opacity: 0;
    visibility: visible;
  }
}