* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

.certificate-list {
    list-style: none;
}

.certificate-item {
    max-width: 130px;
    margin-right: 20px;
}

.certificate__footer {
    position: relative;
    margin-left: 25px;
    display: inline-block;
}

.certificate-btn {
    width: 40px !important;
    height: 40px !important;
    top: -12px !important;
    position: absolute;
    display: block;
}
.certificate-btn.prev {
    background: url('../img/l_arr_b.png') center no-repeat;
    left: -25px;

}
.certificate-btn.next {
    background: url('../img/r_arr_b.png') center no-repeat;
    right: -25px;
}

.certificate-pagination {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    margin: 0 10px;
    color: #afafaf;
}

.certificate-pagination .swiper-pagination-current {
    color: #0064ac;
}