* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}

.review-list {
    list-style: none;
    width: 100%;
}

.review-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    position: relative;
}

.review-item-img {
    width: 100%;
    margin-bottom: 15px;
}

.review-item-text {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    width: 100%;
    max-width: 450px;
    margin-left: auto;
}

.review__footer {
    position: absolute;
    left: 0;
    display: inline-block;
    margin-left: 20px;
}

.review-pagination {
    font-family: Roboto, sans-serif;
    color: #afafaf;
    font-size: 11px;
}

.review-pagination .swiper-pagination-current {
    color: #0064ac;
}

.review-btn {
    position: absolute;
    width: 48px;
    height: 48px;
    top: calc(50% - 24px);
    opacity: .7;
}
.review-btn.prev {
    background: url("../img/l_arr_b.png") center no-repeat;
    cursor: pointer;
    left: -40px;
}
.review-btn.next {
    background: url("../img/r_arr_b.png") center no-repeat;
    cursor: pointer;
    right: -40px;
}

.review-overlay {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,.4);
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    left: 0;
    top: 0;
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
    z-index: 5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.review-overlay.active {
    pointer-events: all;
    visibility: visible;
    opacity: 1;
}

.review__subcontainer {
    max-width: 600px;
    width: 100%;
    margin: auto;
}
.review-subitem {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
}

.review-subitem-wrapper {
    width: 100%;
    display: block;
    margin: auto;
    padding: 70px;
    background: white;
    position: relative;
}

.review-subitem-wrapper img {
    width: 100%;
}

.review-subitem-caption {
    font-family: Roboto, sans-serif;
    font-weight: 700;
    margin-bottom: 12px;
    margin-top: 21px;
}

.review-subitem-pagination {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    margin: 0 10px;
    color: #afafaf;
}
.review-subitem-pagination .swiper-pagination-current {
    color: #0064ac;
}

.review-close {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 29px;
    height: 29px;
    background: url(../img/pp_close.png) center no-repeat;
    cursor: pointer;
}

.review-subbtn {
    position: absolute;
    width: 48px;
    height: 48px;
    top: calc(50% - 24px);
    opacity: .7;
}
.review-subbtn.prev {
    background: url("../img/l_arr.png") center no-repeat;
    cursor: pointer;
    left: 25px;
}
.review-subbtn.next {
    background: url("../img/r_arr.png") center no-repeat;
    cursor: pointer;
    right: 25px;
}

span.slider-btn {
    position: absolute;
    width: 25%;
    height: 100%;
    top: 0;
    transform: none !important;
    border: 0 !important; }
span.slider-btn.prev {
    left: 0; }
span.slider-btn.next {
    right: 0; }
@media screen and (max-width: 767px) {
    span.slider-btn {
        display: none; } }